// GLOBAL ELEMENTS POSITIONING
html, body, #wrapper, #loader-wrapper, .main-nav, main, #project-list {
	width: 100%;
	height:100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
#loader-wrapper {
	z-index: 9999;
}

// HEADER
#header-small {
	width: 100%;
	height: 100%;
	position: absolute;
}

// MAIN NAVIGATION
.main-nav {
	display: none;
	position: absolute;
	z-index: 999;
	opacity: 0.97;

	nav {
		position: absolute;
		top: 34%;
		left: 0;
		right: 0;

		li {
			width: 100%;
		}

		a {
			font: bold 72px 'Coradium', 'Roboto Slab', sans-serif;
			display: block;
			width: 100%;
			height: 100%;
			padding-left: 95px;
			position: relative;
			transition: background 0.5s;

			@media screen and (max-width: 1900px) {
				font-size: 5vw;
			}

			@media screen and (orientation: portrait) {
				font-size: 6vh;

			}

			&:hover {
				// background: url(../img/contact-bg.jpg) no-repeat;
				// padding-left: 100px;
			}
		}
	}
}

// BG-OVERLAY
.bg-overlay {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;

	&::after{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: inherit;
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: top right;
		-webkit-transform: skewY(29deg);
		-ms-transform: skewY(3deg);
		transform: skewX(-17deg);
		left: 0;

		@media screen and (orientation: portrait) {
			transform: skewX(-15deg);
		}
	}
}

.vertical {
	@media screen and (orientation: portrait) {
		width: 100%;
		top: 25%;
	}
}

// FOOTER
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

// BOX AND TEXT ALIGNMENTS
.box-align-left {
	float: left;
}
.box-align-right {
	float: right;
}
.clearfix {
	content: '';
	display: table;
	clear:both;
}
.text-align-center {
	text-align: center;
}
.text-align-left {
	text-align: left;
}
.text-align-right {
	text-align: right;
}
