// TRANSITIONS
$time: 0.5s;

// THEME COLORS
$color1: white;
$color2: #a80606;
$color3: #620d0d;
$color4: rgba(33, 6, 6, 0.4);
$color5: black;
$color6: #aa1717; 
$color7: #6a6a6a;
$color8: #8f2a2a;


.bg1 {
    background: url(../img/bg1.jpg) no-repeat top center;
    background-size: cover;
}
.bg2 {
	background: url(../img/contact-bg.jpg) no-repeat top center;
    background-size: cover;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background-color: $color1;
}
nav {
	a {

		&:hover {
			background: rgba(6,6,6, 0.08);
		}

	}
}
.hamburger {

	&:hover {
		background: rgba(33, 6, 6, 0.4);
		
		@media screen and (max-width: 900px) {
			background: transparent;
		}
	}
}
#header-small, .hamburger {
  background-color: transparent;
}
.brand, .pt1, .pt2, .pt3, .pt4, .hero-hello, .hero-cta-info, .hero-mini-info, nav a {
  color: $color1;
}
#loader-wrapper, .main-nav, .bg-overlay, .bg-highlighter, .bg3 {
  background: $color6;
}
.text-highlighter {
	color: $color6;
    font-weight: bold; 
    text-shadow: -1px -1px 9px #000000;
}
.logo-medium, .logo-small {
	transition: $time;
	&:hover {
		background: $color4;
	}
	.cls-1 {
		fill: $color1;
	}
}
.loader-info {
  color:#de4444;
}
.numeration {
	color: #101010;
}
#cta-btn {
	color: $color1;
}
#echo {
	color: $color8;
}