/* VARIABLES */
$text-color: #83898f;
$primary-color:#ECC09D;
$secondary-color: #20252b;
$radius: 3px;
$transition: all 0.5s;
$font-family: Noto Sans, Calibri, sans-serif;
$text-transform: uppercase;

/* MIXINS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($transition) {
	-webkit-transition: $transition; 
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}

/* GENERAL CSS RULES */
body {
	font-family: $font-family;
	color: $text-color;
}

h1, h2,h3, h4, h5, h6 {
	color: $secondary-color;
	font-weight: bold;
}

h1 {
	font-size: 30px;
}

h6 {
	text-transform: $text-transform;
	margin-bottom: 24px;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	display: inline-block;
}

a {
	text-decoration: none;
	color: $primary-color;
}

li, p {
	font-size: 12px;
	line-height: 25px;
}

p {
	margin-bottom: 20px;
}

img {
	filter: grayscale(100%);
}

input {
	border: 1px solid lightgray;
	@include border-radius($radius);
	padding: 15px;
	@include transition($transition);
	color:#adb3b8;
	font-size: 12px;
	font-family: $font-family;
	width: 100%;
	
	&:focus {
		border-color: $primary-color;
	}
}

footer {
	width:100%;
	background: #f5f5f5;
	color: $text-color;
	padding: 50px;
	text-align: center;
	margin-top: 50px;
}

em {
	font-style: italic;
}

/* CUSTOM CSS RULES */

/* newsletter and twitter */
.button { 
	border: none;
	background: $primary-color;
	color: white;
	text-transform: $text-transform;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	border-radius: $radius;
	width: 100%;
	height: 50px;
	@include transition($transition);
	margin-top: 12px;

	&:hover {
		background: $secondary-color;
		@include transition($transition);
	}
}

/* main-wrapper */
#container {
	width: 100%;
	overflow: hidden;
	background: $secondary-color;
	z-index: 9999;
}

/* main-navigation */
.main-nav {
	float: left;

	a {
		font-size: 1em;
		color: white;
		text-transform: $text-transform;
		padding: 1.563em;
		font-weight: bold;
		display: inline-block;
		
		&:hover {
			background: $primary-color;
			@include transition($transition);
		}
	}
	
}

/* responsive menu-btn */
#hamburger {
	display: none;
    float: left;
	padding: 1.563em;
	color: white;
	
	a {
		color: white;
	}

	&:hover {
		background: $primary-color;
		cursor: pointer;
		@include transition($transition);
	}	
}

/* rule that sticks menu to the top when page goes responsive */
.navbar-fixed-top {
	position: fixed;
}

/* social-icons */
#social-icons {
	float: right;
	padding:1.2rem 0;
	
	li {
		color: white;
		font-size: 1em;
		padding-right: 0.675em;	
	}
	
	a {
		color:white;
		
		&:hover {
			color: $primary-color;
			@include transition($transition);
		}
	}									
}

/* main-header */
#main-header {
	padding: 30px 0px;
	overflow: hidden;
}

/* logo */
#logo {
	font: normal normal 1.188em Century Gothic, Calibri, sans-serif;
	text-transform: uppercase;
	color: #83898f;
	float: left;
	margin: 15px 40px 0 0;

	span {
		color: $primary-color;
	}
}

/* tagline */
#tagline {
	font: normal 0.8em Montserrat Ultra Light, Calibri, sans-serif;
	text-transform: uppercase;
	color: #adb3b8;
	margin-top: 20px;
}

/* search-form */
.search-form {
	position:relative;
}

/* serch-form-btn */
#search-btn {
	font-size: 0.750em;
	background: $primary-color;
	color: white;
	@include border-radius($radius);
	position: absolute;
	border: none;
	width: 40px;
	height: 40px;
	padding: 11px;
	top: 4px;
	right: 4px;
	font-size: 12px;
	cursor: pointer;
	@include transition($transition);
	
	&:hover {
		background: $secondary-color;
		@include transition($transition);
	}
}

/* main-content & aside-content */
main, aside {
	overflow: hidden;
	padding-top: 40px;
	border-top: 1px solid #adb3b8;
}

/* article */
article {
	margin-bottom: 30px;
}

.article-header {
	margin-top: 23px;
	color: #d0cece;
	
	a {
		font-weight: normal;
		color: #d0cece;
		margin-left: 10px;
		@include transition($transition);
		
		&:hover {
			color: $secondary-color;
			@include transition($transition);
		}
	
	}
}

.article-date, .article-tags {
	margin-right: 20px;
}

.article-headline {
	margin: 30px 0 20px 0;
	line-height: 52px;
}

#newsletter {
	margin-bottom: 30px;
	
	li {
		margin-bottom: 50px;
	}
}

#twitter-posts {
	
	li {
		margin-bottom: 30px;
	}
	a {
		@include transition($transition);
	}
	a:hover {
		color: $secondary-color;
		@include transition($transition);
	}
}

/* RESPONSIVE-RULES */

@media (max-width:640px) {
	
	#social-icons {
		position: fixed;
		top: 0;
		right: 0;
	}
	
	.main-nav li {
	  display: none;

	  &:hover {
		  @include transition($transition);
	  }
	}
	
	#hamburger {
		position: relative;
		display: block;
   	}
	
	.responsive {
		width: 100%;
		
		li {
			float: none;
			display: inline;
		}

		a {
			display: block;
			text-align: center;
		}
	}		
}
